# CareOS GRUB configuration -- v9

insmod all_video
insmod gfxterm
insmod gfxmenu
insmod png
insmod font

set gfxmode=1920x1080x32,1600x900x32,1280x720x32,1024x768x32,800x600x32,auto
terminal_output gfxterm

set color_normal=light-blue/black
set color_highlight=white/blue
set menu_color_normal=light-gray/black
set menu_color_highlight=white/blue

set timeout=3
set default=5

menuentry "CareOS v9  (1024x768)" {
    insmod all_video
    insmod multiboot2
    set gfxpayload=1024x768x32
    multiboot2 /boot/kernel.elf
    boot
}

menuentry "CareOS v9  (800x600)" {
    insmod all_video
    insmod multiboot2
    set gfxpayload=800x600x32
    multiboot2 /boot/kernel.elf
    boot
}

menuentry "CareOS v9  (1280x720)" {
    insmod all_video
    insmod multiboot2
    set gfxpayload=1280x720x32
    multiboot2 /boot/kernel.elf
    boot
}

menuentry "CareOS v9  (1440x900)" {
    insmod all_video
    insmod multiboot2
    set gfxpayload=1440x900x32
    multiboot2 /boot/kernel.elf
    boot
}

menuentry "CareOS v9  (1600x900)" {
    insmod all_video
    insmod multiboot2
    set gfxpayload=1600x900x32
    multiboot2 /boot/kernel.elf
    boot
}

menuentry "CareOS v9  (1920x1080)" {
    insmod all_video
    insmod multiboot2
    set gfxpayload=1920x1080x32
    multiboot2 /boot/kernel.elf
    boot
}
